<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="org.coding.mapper.MemberServiceMapper">
  <!-- 회원가입 -->
  	<insert id="memberjoin">
  		insert into member (id, name , password, email)
  		values(#{id},#{name},#{password},#{email})
  	</insert>
  <!-- 로그인 -->
  	<select id="login" resultType="org.coding.model.MemberVo">
  			select *
  			from member
  			where id=#{id}
  			and password=#{password}	
  
  	</select>
  	<!-- 회원정보 수정 -->
  	<update id="memberUpdate">
  			update member
  			set password = #{password},
  			email = #{email}
  			where id = #{id}
  	</update>
  </mapper>